Repository NakiNorton/refactor-tractor-fitlitA, pull requests merged in 2020-07, with the labels that each got.

#10 Add PR template file for smooth PRs
  pr-template.md
Labels: documentation

#19 Refactor/user repo iteration1
  package-lock.json
  src/UserRepository.js
  src/scripts.js
  test/UserRepository-test.js
Labels: iteration 1, refactoring, userRepository class

#20 Refactor/User Class Iteration1
  pull-request-template.md
  src/User.js
  test/User-test.js
Labels: iteration 1, refactoring, user class

#22 Refactor/onload function
  src/scripts.js
Labels: refactoring, scripts

#21 Feature/stepgoal comparison iteration1
  fitLit_dataModel.js
  src/User.js
  src/index.html
  src/scripts.js
  test/User-test.js
Labels: HTML, enhancement, iteration 1, scripts, testing

#23 Organize water/sleep related funct into sections
  src/scripts.js
Labels: refactoring, scripts

#24 Refactor/improve readability of class and class testing files
  src/Activity.js
  src/Hydration.js
  src/User.js
  src/UserRepository.js
  test/Activity-test.js
  test/Hydration-test.js
  test/Sleep-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: bug, refactoring

#25 Refactor/StepClimbDropdownInScripts
  src/User.js
  src/scripts.js
  test/User-test.js
Labels: enhancement, iteration 1, refactoring, scripts

#29 Feature/hydration refactor
  src/User.js
  src/UserRepository.js
  src/index.html
  src/scripts.js
  test/Activity-test.js
  test/User-test.js
Labels: Hydration, Iteration 2, preparation, refactoring, scripts, user class, userRepository class

#33 Refactor/html accessibility
  src/index.html
Labels: HTML

#34 Feature/user input data
  package-lock.json
  package.json
  src/Hydration.js
  src/HydrationRepository.js
  src/User.js
  src/UserRepository.js
  src/css/styles.scss
  src/images/download.svg
  src/index.html
  src/scripts.js
  test/HydrationRepository-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: HTML, Iteration 2, dom, scripts

#39 Feature/add inputs
  src/Activity-Repository.js
  src/Activity.js
  src/Sleep.js
  src/SleepRepository.js
  src/User.js
  src/UserRepository.js
  src/fetchData.js
  src/index.html
  src/scripts.js
  test/Sleep-Repository-test.js
Labels: Hydration, Iteration 2, Iteration 3, Iteration 4, activity class, dom, refactoring, scripts, sleep class, user class

#40 Restructure/add domupdate file
  src/domUpdates.js
  src/scripts.js
  test/domUpdates-test.js
Labels: dom, refactoring

#41 Init/scss files
  src/css/_button-images.scss
  src/css/_buttons.scss
  src/css/_class-changes.scss
  src/css/_display.scss
  src/css/_header.scss
  src/css/_reset.scss
  src/css/_text.scss
  src/css/styles.scss
  src/scripts.js
Labels: refactoring, scss

#43 Feature/refactor scripts
  src/HydrationRepository.js
  src/User.js
  src/UserRepository.js
  src/domUpdates.js
  src/fetchData.js
  src/scripts.js
Labels: bug, documentation, fetchData, refactoring, scripts, user class, userRepository class

#45 Refactor/data
  src/Activity-Repository.js
  src/Activity.js
  src/HydrationRepository.js
  src/SleepRepository.js
  src/User.js
  src/UserRepository.js
  src/domUpdates.js
  src/fetchData.js
  src/scripts.js
  test/HydrationRepository-test.js
  test/UserRepository-test.js
Labels: bugs, userRepository class

#47 Refactor/hydro repo
  src/HydrationRepository.js
  src/User.js
  src/UserRepository.js
  src/data/hydration.js
  src/domUpdates.js
  src/scripts.js
  test/HydrationRepository-test.js
Labels: Hydration, dom, iteration 1, refactoring, scripts, userRepository class

#49 Refactor/hydro repo
  src/HydrationRepository.js
  src/domUpdates.js
  src/index.html
  src/scripts.js
Labels: Hydration, domUpdates, iteration 1, refactoring, scripts, userRepository class

#50 Refactor/activity repo
  src/Activity-Repository.js
  src/ActivityRepository.js
  src/HydrationRepository.js
  src/User.js
  src/UserRepository.js
  src/domUpdates.js
  src/index.html
  src/scripts.js
  test/ActivityRepository-test.js
  test/UserRepository-test.js
Labels: bug, domUpdates, refactoring

#51 Refactor/hydro on dom
  src/Hydration.js
  src/HydrationRepository.js
  src/UserRepository.js
  src/domUpdates.js
  src/index.html
  src/scripts.js
  test/HydrationRepository-test.js
Labels: Hydration, domUpdates, iteration 1, scripts

#53 Feature/stairs on dom
  src/Activity.js
  src/ActivityRepository.js
  src/HydrationRepository.js
  src/User.js
  src/UserRepository.js
  src/domUpdates.js
  src/index.html
  src/scripts.js
  test/Activity-test.js
  test/ActivityRepository-test.js
  test/Hydration-test.js
  test/HydrationRepository-test.js
  test/Sleep-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: HTML, Hydration, Iteration 3, activity class, domUpdates, refactoring, scripts, testing, userRepository class

#55 Feature/sleep refactor
  src/HydrationRepository.js
  src/SleepRepository.js
  src/User.js
  src/UserRepository.js
  src/css/_buttons.scss
  src/css/_display.scss
  src/data/hydration.js
  src/domUpdates.js
  src/index.html
  src/scripts.js
  test/Sleep-Repository-test.js
Labels: HTML, bug, dom, domUpdates, enhancement, scripts, sleep class, userRepository class

#56 Feature/post
  src/scripts.js
Labels: POST, scripts

#59 Refactor/activity repo 2
  src/ActivityRepository.js
  src/User.js
  src/UserRepository.js
  src/css/_display.scss
  src/css/_text.scss
  src/domUpdates.js
  src/index.html
  src/scripts.js
  test/ActivityRepository-test.js
  test/User-test.js
  test/domUpdates-test.js
Labels: Iteration 4, activity class, domUpdates, refactoring, scripts

#61 Feature/sleep stats
  src/SleepRepository.js
  src/css/_buttons.scss
  src/css/_class-changes.scss
  src/domUpdates.js
  src/index.html
  test/Sleep-Repository-test.js
Labels: dom, domUpdates, scripts, scss, sleep class

#62 Feature/input sad paths
  src/ActivityRepository.js
  src/Sleep.js
  src/SleepRepository.js
  src/User.js
  src/UserRepository.js
  src/css/_buttons.scss
  src/css/_display.scss
  src/css/_text.scss
  src/domUpdates.js
  src/index.html
  src/scripts.js
  src/styles.css
  test/ActivityRepository-test.js
  test/Sleep-Repository-test.js
  test/UserRepository-test.js
Labels: activity class, domUpdates, sleep class, testing

#64 Feature/post
  src/ActivityRepository.js
  src/SleepRepository.js
  src/UserRepository.js
  src/domUpdates.js
  src/scripts.js
  test/domUpdates-test.js
Labels: POST, bug, domUpdates, refactoring, scripts, sleep class

#65 Testing/domUpdates/Refactoring
  src/ActivityRepository.js
  src/HydrationRepository.js
  src/SleepRepository.js
  src/User.js
  src/UserRepository.js
  src/css/_buttons.scss
  src/css/_display.scss
  src/css/_text.scss
  src/domUpdates.js
  src/fetchData.js
  src/index.html
  src/scripts.js
  test/ActivityRepository-test.js
  test/HydrationRepository-test.js
  test/Sleep-Repository-test.js
  test/User-test.js
  test/UserRepository-test.js
  test/domUpdates-test.js
Labels: HTML, dom, domUpdates, refactoring, scripts, scss, testing

#67 Fix bug in sleepRepo for addSLeepInput
  src/SleepRepository.js
Labels: bug, sleep class

#68 Refactor/final clean up
  src/SleepRepository.js
  src/UserRepository.js
  src/css/_buttons.scss
  src/css/_display.scss
  src/css/_text.scss
  src/index.html
  test/UserRepository-test.js
Labels: HTML, scss
